#home{
    min-height: 100vh;
    width: 100%;
    background-color: #045250;
    background-image: url(../images/home.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#home .header{
    width: 95%;
    margin: 0 auto;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow:  1px 1px 10px rgb(0, 0, 0);
    position: sticky !important;
    top: 20px;
    right: 0;
    z-index: 0;
}
#home .row{
    width: 95%;
    min-height: 80vh;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow:  1px 1px 10px rgb(0, 0, 0);
    margin: 0 auto;
}